@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  position: fixed;
  bottom: 0;
}

#landing-page {
  background-image: url('./assets/landingPageBackground.jpg');
}

.input-primary {
  background: rgba(33, 33, 33, 0.7);
}
